<!DOCTYPE html>
<html>
<head>
    <title>Database Viewer</title>
</head>
<body>

<h1>Database Viewer</h1>

<h2>Users</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password (hashed)</th>
    </tr>
    {% if users %}
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr><td colspan="3">No users found</td></tr>
{% endif %}
</table>

<h2>Profiles</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
    </tr>
    {% for p in profiles %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.user_id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.imgpath }}</td>
        <td>{{ p.description }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Posts</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Content</th>
        <th>Created</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.user_id }}</td>
        <td>{{ post.content }}</td>
        <td>{{ post.created_at }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>