<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        <div class="showposts">
        <h1>Welcome {{name}}</h1>
        </div>
        <p>Create your post</p>
        <input type="text" id="post">
        <button id="postBtn">post</button>
        <details>
        <summary>Menu</summary>
        <ul>
            <li><a href="{{ url_for('profileurl') }}">Profile</a></li>
            <li><a href="#">Friends</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="{{url_for('home')}}">Logout</a></li>
        </ul>
    </details>
        <h3>Posts</h3>
        {% for post in posts %}
        <div class="showposts">
        <p>{{post["name"]}}</p>
        <p>{{post["content"]}}</p>
        <small>{{post["created_at"]}}</small>
        </div>
        {% endfor %}
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>