<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=DM+Mono:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />

    <title>Profile Page</title>
  </head>

  <body>
    <div class="profile-container">
      <h1>Profile</h1>

      <div class="card">
        <details>
          <summary>Menu</summary>
          <ul>
            <li><a href="{{url_for('showposts')}}">Home</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </details>
      </div>

      <div class="card">
        <div class="profile-top">
          <img
            src="{{ url_for('static', filename='images/' + user.imgpath) }}"
            alt="Profile picture"
          />
          <h3 class="profile-name">{{user.name}}</h3>
        </div>

        <h4 class="desc-label">Description</h4>
        <input type="text" id="desc" value="{{user.description}}" />
        <button id="saveDescBtn">Save</button>
      </div>

      <div class="card">
        <details>
          <summary>⚙ Settings</summary>
          <ul>
            <li><a href="{{ url_for('editnamepage') }}">Edit Name</a></li>
            <li><a href="{{ url_for('uploadimg') }}">Edit Profile Image</a></li>
          </ul>
        </details>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
