<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <details>
        <summary>Menu</summary>
        <ul>
            <li><a href="{{url_for('showposts')}}">Home</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </details>

    <img src="{{user.imgpath}}"
         alt="Profile picture"
         width="75"
         name="picture">
         <h3>{{user.name}}</h3>
         <h4>Description</h4>
         <input type="text" name="desc" value = {{user.description}}>
         <button onclick="descupdate()">Save</button>
         <details>
        <summary>⚙ Settings</summary>
        <ul>
            <li><a href="#">Edit Name</a></li>
            <li><a href="#">Edit Profile Image</a></li>
        </ul>
    </details>
    
</body>
</html>
