<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign Up
        </title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <p>Enter your name</p>
        <input type="text" id="addname" required><br>
        <p>Create Password</p>
        <input type="password" id="addpassword" required><br><br>
        <button id="signupbtn">save</button><br><br>
        <p>Already have a accoutn? <a href="{{ url_for('home') }}">Back</a></p>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>

    </body>
</html>