{% extends 'main.html' %}

{% block content %}

{% for f in friend %}
    {% if f.user1 == request.user %}
        <a href="{% url 'profile' f.user2.id %}"><b>{{f.user2.username}}</b></a>
        <a href="{% url 'chat' f.user2.id %}"><button>Message</button></a>
            {% if f.unread_count > 0 %}
                <small>{{f.unread_count}} new messages</small>
            {% endif %}
    {% else %}
        <a href="{% url 'profile' f.user1.id%}"><b>@{{f.user1.username}}</b></a>
            <a href="{% url 'chat' f.user1.id %}"><button>Message</button></a>
            {% if f.unread_count > 0 %}
                <small>{{f.unread_count}} new messages</small>
            {% endif %}
    {% endif %}
    <hr>
{% endfor %}
{% endblock %}
med