{% extends 'main.html' %}

{% block content %}
{% if q %}
    <h1>searched resault for {{q}}</h1>
    {% for user in users %}
    <a href="{% url 'profile' user.id%}"><p>@{{user.username}}</p></a>
    <hr>
    {% empty %}
    <h2>No Users Found</h2>
    {% endfor %}

    {% else %}
    <h1>Welcome {{ user.username }}</h1>
    {% if request.user.is_authenticated %}
    <hr>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="content" id="content" cols="30" rows="10" placeholder="What Are You Thinking"></input>
        <button type="submit">Post</button>
    </form>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <hr>
    <div>
        <h2>Posts</h2>
    {% include 'base/posts_container.html' %}
    </div>

{% endif %}
{% endblock %}