{% extends 'main.html' %}

{% block content %}

<h1>Notifications</h1>
{% for notification in notif %}
    <form method="POST" action="{% url 'delete_notification' notification.id %}">
        {% csrf_token %}
        <button type="submit">❌</button>
    </form>
    {% if notification.type == 'post like' %}
    <p><a href="{% url 'profile' notification.sender.id %}">@{{notification.sender}}</a> has liked your <a href="{% url 'comment' notification.post.id %}">post</a> - {{notification.created_at|timesince}} ago</p>
    {% endif %}

    {% if notification.type == 'comment like' %}
        <p><a href="{% url 'profile' notification.sender.id %}">@{{notification.sender}}</a> has liked your <a href="{% url 'comment' notification.comment.post.id %}">comment</a> - {{notification.created_at|timesince}} ago</p>
    {% endif %}

    {% if notification.type == 'comment' %}
        <p><a href="{% url 'profile' notification.sender.id %}">@{{notification.sender}}</a> commented on your <a href="{% url 'comment' notification.comment.post.id %}">post</a> "{{notification.comment.content|safe}}" - {{notification.created_at|timesince}} ago</p> <!-- |safe can receive attacks if someone wrote a code -->
    {% endif %}

    {% if notification.type == 'post mention' %}
        <p><a href="{% url 'profile' notification.sender.id %}">@{{notification.sender}}</a> mentioned you in a <a href="{% url 'comment' notification.post.id %}">post</a> "{{notification.post.content|safe}}"  - {{notification.created_at|timesince}} ago</p> <!-- |safe can receive attacks if someone wrote a code -->
    {% endif %}

    {% if notification.type == 'comment mention' %}
        <p><a href="{% url 'profile' notification.sender.id %}">@{{notification.sender}}</a> mentioned you in a <a href="{% url 'comment' notification.comment.post.id %}">comment</a> "{{notification.comment.content}}" - {{notification.created_at|timesince}} ago</p> <!-- |safe can receive attacks if someone wrote a code -->
    {% endif %}

    {% if notification.type == 'friend request' %}
        {% for fr in friend_request %}
            {% if fr.sender == notification.sender %}
                {% if fr.status == False %}
                    <p><a href="{% url 'profile' notification.sender.id %}">@{{notification.sender}}</a> sended a friend request!</p>
                    <form method="POST" action="{% url 'accept_request' fr.id %}">
                        {% csrf_token %}
                    <button type="submit">Accept</button>
                    </form>
                    <form method="POST" action="{% url 'delete_notification' notification.id %}">
                        {% csrf_token %}
                        <button type="submit">Ignore</button>
                    </form>
                {% else %}
                    <p><a href="{% url 'profile' notification.sender.id %}">@{{notification.sender}}</a> sended a friend request!</p>
                    <h3>Accepted</h3>
                {% endif %}
            {% endif %}
        {% endfor %}
   {% endif %}
    <hr>
{% endfor %}

{% endblock %}