{% extends 'main.html' %}

{% block content %}

<h1>post</h1>
<a href="{% url 'profile' post.username.id %}"><h2>@{{ post.username }}</h2></a>
<p>{{ show_post|safe }}</p>
<form method="POST" action="{% url 'like' post.id  %}">
    {% csrf_token %}
    {% if post.is_liked %}
        <button type="submit">Unlike</button>
    {% else %}
        <button type="submit">Like</button>
    {% endif %}
</form>
    <a href="{% url 'liked_users' post.id %}?type=post"><p>{{ post.likes.count }} Likes</p></a>


<h2>Comments</h2>
{% if request.user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="Comment here.....">
    <button type="submit">Comment</button>
</form>
{% endif %}
<div>
    {% include 'base/comments_container.html' %}
</div>
<hr>




{% endblock %}