{% extends 'main.html' %}

{% block content %}

<style>
.feed-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
</style>
{% if profile_user != request.user %}
{% load cloudinary %}
<a href="{% url 'editpfp' request.user.id%}">
{% cloudinary profile_user.pfp quality='auto' width=100 height=100 crop='fill' %}
</a>
{% else %}
{% load cloudinary %}
{% cloudinary request.user.pfp quality='auto' width=100 height=100 crop='fill' %}
{% endif %}
<h1>{{ profile_user.username }}</h1>
    <h2>bio</h2>
    <b>{{profile_user.bio}}</b>
    {% if request.user == profile_user %}
        <a href="{% url 'editbio' request.user.id %}">🖊️</a>
    {% endif %}

{% if request.user != profile_user %}
    {% if is_friend %}
        <a href="{% url 'chat' profile_user.id %}"><button>Message</button></a>
        <form method="POST" action="{% url 'unfriend' profile_user.id %}">
            {% csrf_token %}
            <button type="submit">Unfriend</button>
        </form>
    {% elif incomming_request %}
        <form method="POST" action="{% url 'accept_request' incomming_request.id %}">
            {% csrf_token %}
            <button type="submit">Accept Friend Request</button>
        </form>
    {% elif outgoing_request %}
        <h3>Request Has Been Sent</h3>
    {% else %}
    <form  method="POST" action="{% url 'friend_request' profile_user.id %}">
        {% csrf_token %}
        <button type="submit">Friend request</button>
    </form>
    {% endif %}
{% endif %}

<hr>

<div class="feed-container">
    <div>
        <h2>Posts</h2>
        {% include 'base/posts_container.html' with posts=posts %}
    </div>

    <div>
        <h2>Liked Posts</h2>
        {% include 'base/posts_container.html' with posts=liked_posts %}
    </div>

    <div>
        <h2>Liked Comments</h2>
        {% include 'base/comments_container.html' %}
    </div>
</div>

{% endblock %}